
.nav{
    height:56px;
    background-color: #75a749;
}

.content{
    width: 1150px;
    margin: 0 auto;

}

.nav_logo{
    display: inline-block;
    background-image: url("../img/spring0.png");
    width:146px;
    height:36px;
    margin-top: 10px;
}

.d-ipu{
    display: inline-block;
    vertical-align: 14px;
    text-align: center;
    margin-left: 112px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}

.sangle0{
    width: 0;
    height:0;
    border-top:5px solid #999999;
    border-right:5px solid rgba(255,255,255,0);
    border-bottom:5px solid rgba(233,240,260,0);
    border-left:5px solid rgba(30,30,60,0);
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.line{
    width: 2px;
    height: 28px;
    display: inline-block;
    background-color: #cccccc;
    vertical-align: -8px;
}

.ipu {
    display: inline-block;
    width:437px;
    height: 32px;
    border: 1px solid #fff;
    margin-left: 10px;
}

.sch {
    width: 124px;
    height: 36px;
    border: none;
    background: #5d853a;
    color: #fff;
    font-size:16px;
    font-weight: 600;
    float: right;
    display: inline-block;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px;
    outline: none;
}

.spring{
    width:26px;
    height:26px;
    display: inline-block;
}

.search{
    vertical-align: -7px;
    margin-right: -37px;
    background: url("../img/spring0.png") no-repeat 2px -73px;
    position: absolute;
    top: 4px;
    right: 129px;
}

.register{
    line-height: 36px;
    text-align: center;
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    word-spacing: 16px;
}



















.f{
    float: left;
}

.head{
    font-size: 26px;
    line-height: 90px;
    text-align: center;
    color: #484848;
}

.title{
    font-size: 16px;
    font-weight: 600;
    color: #484848;
    line-height: 40px;
}

.classify{
    color: #333333;
    font-size: 14px;
    line-height: 50px;
    width: 90px;
    display: inline-block;
    padding-right:10px;
    text-align: right;
}

.classify0{
    color:#eb5f00;
}

.classifya{
    color:#eb5f00;
    padding-left: 20px;
    line-height: 50px;
    font-size: 14px;
}

.boos1{
    display: inline-block;
}

.aa{
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border-radius: 50%;
    margin: 3px;
}

.bb{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #333333;
    vertical-align: -3px;
    margin-right: 6px;
}

.cc{
    background-color: #75a749;
}

.woof{
    width: 110px;
    line-height: 33px;
    margin-right: 10px;
    display: inline-block;
    color: #666666;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #cccccc;
    position: relative;
}

.woof-x{
    margin-left: 103px;
}

.woof-b{
    border-color:#75a749;
}

.zz-box{
    display: none;
}

.green{
    width: 0;
    height:0;
    border-top:10px solid rgba(255,255,255,0);
    border-right:10px solid #75a749;
    border-bottom:10px solid #75a749;
    border-left:10px solid rgba(30,30,60,0);
    display: inline-block;
    border-bottom-right-radius: 4px;
    left: 91px;
    position: absolute;
    top: 14px;
}

.zz{
    position: absolute;
    left: 100px;
    top:10px;
    color: #fff;
}

.radio{
    border-radius: 4px;
    border-width: 0;
    border: 1px solid #cccccc;
    line-height: 33px;
    width: 120px;
    text-align: center;
    /*margin-left: 3px;*/
}

.inp-char{
    position: relative;
    left: -2em;
    color: #999999;
}

.inp-char1{
    left: -3em;
}

.inp-rc{
    position: relative;
    left:-9em;
    color: #999999;
}

.select{
    border-radius: 4px;
    border-width: 0;
    border: 1px solid #cccccc;
    line-height: 33px;
    text-indent: 1em;
    color: #484848;
    display: inline-block;
    position: relative
}

.select-sgle{
    position: absolute;
    top:13px;
}

.select-sgle-f{
    left: 50px;
}

.select-sgle-x{
    left: 74px;
}

.select-sgle-p{
    left: 100px;
}


.box-woof{

}


.go-to{
    width: 120px;
    line-height: 33px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-width: 0;
    border-radius: 4px;
    background-color: #75a749;
    margin-left: 103px;
    margin-top: 20px;
}

.pictures {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 200px;
    margin-top: 10px;
    width: 860px;
    margin-left: 103px;
}

.go-tobt{
    color: #a8a8a8;
    margin-left: 103px;
    line-height: 3;
}

.publish{
    width: 330px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-width: 0;
    border-radius: 4px;
    background-color: #75a749;
    margin: 40px 16px;
}

.add{
    width: 86px;
    display: none;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;

}

.add-f{
    width: 86px;
    display: none;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    margin-left: 103px;
    z-index: 2;
}

.add-x{
    width: 109px;
    display: none;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    z-index: 2;
    margin-left: 195px;
}


.add-p{
    width: 140px;
    display: none;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #fff;
    text-align: center;
    z-index: 2;
    margin-left: 312px;
}

.file{
    height: 38px;
    left: -124px;
    opacity: 0;
    position: relative;
    width: 120px;
    outline: none;
    border-width: 0;
}













.foot{
    height: 260px;
    background-color: #242623;
    color: #b5b5b4;
    border-bottom: 2px solid #444444;
    border-bottom-width:10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.link{
    width: 810px;
    line-height: 40px;
    padding-top: 20px;
}

.link a{
    color: #b5b5b4;
}

.foot-line{
    width: 950px;
    height: 2px;
    background-color: #444444;
    margin-top: 28px;
    margin-bottom: 28px;
}

.owner{
    width: 370px;
    line-height: 40px;
}

.C {
    width: 10px;
    line-height: 10px;
    font-size: 8px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    vertical-align: 2px;
}

.sign{
    width: 154px;
    height: 154px;
    background: url("../img/spring0.png") no-repeat 0 -138px;
}

.foot-l{
    display: inline-block;
}

.foot-r{
    display: inline-block;
    padding-top: 34px;
    float: right;
    text-align: center;
}

